[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE html>

<!--[if IE 7 ]>    <html class="ie ie7 oldie basic" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie basic" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml""> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 basic" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://zaaksysteem.nl/ https://siteimproveanalytics.com https://www.googletagmanager.com https://www.gstatic.com/recaptcha/ https://www.google.com/recaptcha/api.js https://geodata.nationaalgeoregister.nl https://*.bus.koppel.app https://gistest.wetterskipfryslan.nl https://gisweb.heerhugowaard.nl https://plattegronden.gooisemeren.nl https://hofvantwente.obsurv.nl; frame-src 'self' https://gistest.wetterskipfryslan.nl/ https://gis.wetterskipfryslan.nl  https://www.google.com/ https://login.live.com/ https://*.officeapps.live.com/ https://*.bus.koppel.app; object-src 'self'; frame-ancestors 'self'; require-trusted-types-for 'script'; base-uri 'self'; connect-src *">
<title>[% IF page_title %][% page_title | html_entity %] - [% END %][% c.get_customer_info.naam_lang %]</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    [% PROCESS form/common_form_header_includes.tt %]

    <link rel="shortcut icon" href="https://www.oude-ijsselstreek.nl/sites/default/files/oij.ico" type="image/vnd.microsoft.icon">
    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]
</head>
<body data-ng-app="Zaaksysteem">

		<div id="container">
		
    		<header role="banner" class="clearfix">
            
                <h1 id="logo"><a href="https://oude-ijsselstreek.nl">Oude IJsselstreek</a></h1>
            
            </header>	
				
			<div id="main" class="clearfix" role="main">
