<div class="form-container">
  <div class="radios-container">
    <label>
      <input type="radio" name="exporttype" value="csv" checked>
      CSV
    </label>
    <label>
      <input type="radio" name="exporttype" value="xls">
      XLS
    </label>
    <label>
      <input type="radio" name="exporttype" value="calc">
      OO Calc
    </label>
  </div>
  <button ng-click="zsDashboardWidget.triggerExport($event)">Exporteren</button>
</div>