.mapping-list{
	list-style: none;
	display: table;
	width: 100%;
	li{
		> div{padding:5px 0;}
		.mapping-name{
			padding-right:10px;
		}
		.mapping-name input,
		.mapping-value input{
			width: 300px;
		}
		.mapping-optional{
			padding:5px 8px 5px 0;
		}
	}
}

.mapping-list-item {
	display: table-row;
	 > div {
		display: table-cell;
	}
}

.mapping-value .spot-enlighter-wrapper{
	padding:0;
}

.data-mapping-add{
	padding:5px 0;
	form[name="newMapping"] input{
		margin-left:20px;
		width:225px;
		margin-right:5px;
	}
}

.submit-mapping{
	margin: 15px 0px;
}