[% USE Dumper %]
[% USE JSON %]


<div class="block clearfix import disabled_import_inavigator">
    <div class="block-header clearfix block-header-border">
        <div class="block-header-title">I-Navigator zaaktypen importeren</div>
        <div class="block-header-actions">
            <div class="button-group">
                <a href="/beheer/inavigator/flush" class="button button-secondary button-small">Ander bestand importeren</a>
            </div>
        </div>
    </div>
    <div id="content" class="block-content">
        <br/>
        <div class="import-uitleg">Hieronder vind je een overzicht van de gevulde zaaktypen uit het importbestand. Dit overzicht is vanwege de performance gemaximeerd tot 100 zaaktypen.</div><br/>

        <div data-ng-controller="nl.mintlab.core.IsolationController">
            <script type="text/zs-scope-data">
                {
                    "categoryTree": [% JSON.encode(categories) %],
                    "existingCasetypes": [% JSON.encode(existing_casetypes) %],
                    "casetypes": [% JSON.encode(casetypes) %],
                    "resultTypes": [% JSON.encode(ZOPTIONS.RESULTAATTYPEN.sort) %],
                    "bewaartermijnOptions": [% JSON.encode(ZOPTIONS.BEWAARTERMIJN) %],
                    "archiefnominatieOptions": [% JSON.encode(ZOPTIONS.ARCHIEFNOMINATIE_OPTIONS) %],
                    "handelingsinitiators": [% JSON.encode(ZOPTIONS.HANDELINGSINITIATORS) %],
                    "generalFields": [% JSON.encode(GENERAL_FIELDS) %],
                    "documentFields": [% JSON.encode(DOCUMENT_FIELDS) %],
                    "checklistFields": [% JSON.encode(CHECKLIST_FIELDS) %],
                    "resultFields": [% JSON.encode(RESULT_FIELDS) %],
                    "settings": [% JSON.encode(c.user.settings.inavigator_settings) %]
                }
            </script>
            [% FOREACH code = casetypes.keys %]
                [% PROCESS beheer/import/inavigator/casetype.tt
                    casetype = casetypes.$code
                %]
            [% END %]
        </div>
    </div>
</div>

